body {
    font-family: Gill Sans, sans-serif;
    background-color: #41b3a3;
    text-align: center;
  }

img.gif{
      width: 30%;
      height: 30%;
  }

img{
      width: 18%;
      height: 18%;
  }

a{
      font-size:x-large;
  }

div.text{
    display: inline-block;
    inline-size: 60%;
    font-family:Arial ;
    font-size: medium;
 }