img{
    width: 35%;
    height: 75%;
    object-fit:cover;
}
body{
    margin: 0;
    text-align: center;
    background-image: url("../animal-imgs/background.jpg");
    background-size: auto;
}
.paragraph{
    margin: auto;
    width: 90%;
    text-align: center;

}
.holder{
    margin: auto;
    width: 60%;
    height:70%;
    background:white;
    box-shadow: 10px 10px 5px grey;
    border-radius:25px;
    padding-bottom: 2%;
}