img{
    width:35%;
    height: 35%;
    object-fit: cover;
}
body{
    margin: 0;
    text-align: center;
    background-image: url("../animal-imgs/background.jpg");
    background-size: auto;
}
.holder{
    margin: auto;
    width: 50%;
    background:white;
    box-shadow: 10px 10px 5px grey;
    border-radius:25px;
}